{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "time/macro.njk" import appTime %}

{% if params.value %}
  <div class="app-entity"
       data-testid="app-entity{% if params.index %}-{{ params.index }}{% endif %}">
    {% if params.label %}
      <span class="app-entity-label"
            data-testid="app-entity-label">{{ params.label }}:</span>
    {% endif %}

    {% if params.kind === 'link' %}
      <a class="app-entity__link"
         href="{{ params.url }}"{% if params.newWindow %} target="_blank" rel="noopener noreferrer"{% endif %}
         data-testid="app-entity-link">
        {{ params.value }}
      </a>

    {% elseif params.kind === 'tag' %}
      {{ govukTag({
        text: params.value,
        classes: params.classes,
        attributes: {
          'data-testid': 'govuk-tag'
        }
      }) }}

    {% elseif params.kind === 'date' %}
      {{ appTime({
        datetime: params.value
      }) }}

    {% elseif params.kind === 'currency' %}
      {{ params.value | formatCurrency }}

    {% elseif params.kind === 'text' %}
      {{ params.value }}
    {% endif %}

  </div>
{% endif %}


