.app-entity-list {
  margin-top: 0;
  @include govuk-responsive-margin(1, "bottom");
  padding-left: 0;
  list-style-type: none;
}

.app-entity-list__row {
  @include govuk-font($size: 19);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: govuk-spacing(2);
  margin-left: govuk-spacing(-2);
  margin-right: govuk-spacing(-2);
  border-bottom: 1px solid govuk-colour("mid-grey");
  line-height: 1.4;

  &:last-of-type {
    border-bottom: none;
  }

  &:nth-child(even) {
    background-color: govuk-colour("light-grey");
  }
}

.app-entity-list__row--header {
  font-weight: bold;
  padding: 0 govuk-spacing(2) govuk-spacing(2);
}

.app-entity-list__item {
  margin-right: govuk-spacing(2);
}

.app-entity-list__item--small {
  flex: .4;
  max-width: 140px;
}

.app-entity-list__item--medium {
  flex: .8;
  max-width: 280px;
}

.app-entity-list__item--large {
  flex: 1.2;
  max-width: 360px;
}
